/* fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* styles */
  :root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --teal: #7ABFBF;
    --lt-blue: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --title: "Bebas Neue", serif;
    --main-font: "Montserrat", serif;
  }

/* CSS reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Media Query - Small screen  */
@media screen and (min-width: 414px) {
  #main-nav{
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 1rem 2vw;
  }

  #menu-icon svg {
    padding: 1.75rem .75rem 1.55rem 3rem;
    margin: -1.75rem -2vw -1.75rem;
    background: #ffffff;
    border-bottom: 3px solid #e3dede;
    position: absolute;
    top: 0.2rem;
    right: 50%;
    width: 40%;
  }

  #home-text {
    text-decoration: none;
    visibility: hidden;
  }

  #home svg {
    display: inline-block;
    padding: .5rem 27vw 1rem 27vw;
    background: var(--orange);
    position: absolute;
    top: -1rem;
    left: 44%;
    border-bottom: 3px solid #e3dede;
    height: auto;
    justify-content: center;
  }

  .dropdown {
    position: absolute;
    top: 45%;
    left: -2vw;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 100px;
    max-width: 25vw;
    border-radius: 5px;
  }
 
  .dropdown li {
    padding: 10px;
    text-align: left;
  }

  .dropdown li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    padding: 8px;
    font-family: var(--main-font);
    margin-left: -0.7rem;
  }

  .dropdown li a img {
    width: 100%;
    max-width: 35px;
    height: auto;
    margin-left: 5px;
    display: none;
  }
  
  #menu:hover .dropdown {
    display: block;
  }

  #menu-text a {
    z-index: 1;
    position: absolute;
    margin-top: 2.6rem;
    margin-left: 3.7vw;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--title);
    color: var(--black);
  }

  #sign-text a {
    z-index: 10;
    position: absolute;
    top: 2.7rem;
    right: -57.5vw;
    font-family: var(--title);
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
  }

  #sign-icon svg {
    padding: 1.75rem 12.75vw 1.55rem 1.5vw;
    margin: -1.75rem -60.3vw -1.75rem 0;
    background: #ffffff;
    border-bottom: 3px solid #e3dede;
    position: absolute;
    top: .2rem;
    right: -31%;
    width: 40%;
  }

  nav span input {
    align-content: center;
    margin-top: 5rem;
    position: relative;
    padding: 1rem 10vw 1rem 0;
    left: 18.5vw;
    border: 2px solid var(--orange);
    width: 152%;
  }

  nav span svg {
    position: absolute;
    right: -40vw;
    top: 6rem;
    padding: 0.36rem 1vw;
    background: var(--orange);
    height: auto;
  }
  
  header {
    position: relative;
    top: 8rem;
    margin-top: 0
  }


}


/* Media Query - Medium screen */



/* Media Query - Large screen */




