/* fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* styles */
  :root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --teal: #7ABFBF;
    --lt-blue: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --title: "Bebas Neue", serif;
    --main-font: "Montserrat", serif;
  }

/* CSS reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Media Query - Small screen  */
@media screen and (min-width: 414px) {
  #main-nav{
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 1rem 2vw;
  }

  #menu-icon svg {
    padding: 1.75rem .75rem 1.55rem 3rem;
    margin: -1.75rem -2vw -1.75rem;
    background: #ffffff;
    border-bottom: 3px solid #e3dede;
    position: absolute;
    top: 0.2rem;
    right: 50%;
    width: 40%;
  }

  #home-text {
    text-decoration: none;
    visibility: hidden;
  }

  #home svg {
    display: inline-block;
    padding: .5rem 22vw 1rem 21.75vw;
    background: var(--orange);
    position: absolute;
    top: -1rem;
    left: 34%;
    border-bottom: 3px solid #e3dede;
    height: 40%;
    justify-content: center;
    z-index: 99;
    width: 33%;
    min-width: 59px;
    max-width: 144px;
    margin-left: .25rem;
  }

  .dropdown {
    position: absolute;
    top: 45%;
    left: -2vw;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 100px;
    max-width: 25vw;
    border-radius: 5px;
  }
 
  .dropdown li {
    padding: 10px;
    text-align: left;
  }

  .dropdown li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--orange);
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px;
    font-family: var(--title);
    margin-left: -0.7rem;
  }

  .dropdown li img {
    width: 100%;
    max-width: 35px;
    height: auto;
    margin-left: 5px;
    display: none;
  }
  
  #menu:hover .dropdown {
    display: block;
  }

  #menu-text a {
    z-index: 1;
    position: absolute;
    margin-top: 2.6rem;
    margin-left: 5.7vw;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--title);
    color: var(--black);
    text-transform: uppercase;
  }

  #sign-text a {
    z-index: 10;
    position: absolute;
    top: 2.7rem;
    right: -66.5vw;
    font-family: var(--title);
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    min-width: 200px;
  }

  #sign-icon svg {
    padding: 1.75rem 0.75vw 1.55rem 5.8vw;
    margin: -1.75rem -88.3vw -1.75rem 1rem;
    background: #ffffff;
    border-bottom: 3px solid #e3dede;
    position: absolute;
    top: 0.1rem;
    right: 65%;
    width: 40%;
    min-width: 171px;
    max-width: 200px;
  }

  nav span input {
    align-content: center;
    margin-top: 5rem;
    position: relative;
    padding: 1rem 10vw 1rem 0;
    margin-left: 18.5vw;
    border: 2px solid var(--orange);
    width: 115%;
    max-width: 750px;
  }

  nav span svg {
    position: absolute;
    right: -29vw;
    top: 6rem;
    padding: 0.36rem 1vw;
    background: var(--orange);
    height: auto;
    max-width: 767px;
  }
  
  header {
    position: relative;
    top: 5.3rem;
    margin: 0 0 1rem;
    background: var(--white);
    padding-bottom: 0;
  }

  header h1 {
    position: absolute;
    margin-left: 0;
   text-align: center;
    font-family: var(--title);
    font-size: 40px;
    width: 100%;
    align-items: center;
    background: var(--white);
    padding-top: 7rem;
    padding-bottom: 7.2rem;
  }

  header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-right: 4.5rem;
  }

  header nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav a {
    text-decoration: none;
    color: var(--orange);
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 16px;
    position: relative; 
    top: 15rem;
    right: 1rem;
  }

  .text-top {
    position: relative;
    right: -4rem;
    gap: 1rem;
    padding: 0;
  }

  header nav svg {
    position: absolute;
    gap: 1rem; 
    top: -3rem;
  }

  #print svg {
    margin-right: .15rem;
  }

  #jump-to svg {
    margin-right: 1.80rem;
  }

  #taco-img {
    padding-top: 16rem;
  }

  main img {
    margin-top: 4rem;
    height: auto;
    width: auto;
  }

  main p {
    font-family: var(--main-font);
    line-height: 1.5rem;
    margin: 1rem .15rem 0 1rem;
  }
                                                
  main h2 {
    font-family: var(--title);
    text-align: center;
    font-size: 30px;
    padding: 2rem 0 1.5rem;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 44%;
    max-width: 250px;
    min-width: 100px;
    margin-left: 1.25rem;
  }

  dl dt {
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 16px;
  }

  dl dd {
    font-family: var(--main-font);
    font-size: 16px;
    margin-left: 0;
  }

  #ingredients ul {
    list-style: circle;
    margin: 0 1rem 0 2rem;
    list-style: var(--black);
  }

  #ingredients ul li {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 2.5rem;
  }

  #directions ol {
    list-style: number;
  }

  #directions ol li {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 2rem;
    margin: 0 1rem 1.25rem 2rem;
    box-sizing: border-box;
    max-width: 100%;
  }

  #side-dishes {
    background: var(--teal);
    border-bottom: 2rem solid var(--white);
    max-height: 65rem;
    height: auto;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
  }

  h2 {
    padding-top: 0rem;
    padding-bottom: 0;
    text-align: center;
    margin-top: 0rem;
  }

  #side-dishes {
    margin-bottom: 0;
    margin-top: 4rem;
  }

  #sides-container {
    position: relative;
    top: -4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.8rem;
  }

  #rice h3 {
    display: flex;
    text-align: center;
    font-family: var(--title);
    font-size: 25px;
    position: relative;
    top: 7.15rem;
    left: 12.30rem;
    margin-bottom: 1.5rem;
  }

  #rice img {
    padding-left: 1.85rem;
    width: 30%;
    height: 35%;
    max-width: 150px;
  }

  #rice p {
    display: flex;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -6.25rem;
    left: 12.15rem;
    margin: 0 0 1rem;
  }

  #rice p b {
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -0.75rem;
    font-weight: bold;
  }

  #rice svg {
    position: relative;
    margin-left: .5rem;
    top: -7.25rem;
    left: 11.5rem;
    width: 7%;
    height: 7%;
  }

  #salsa h3 {
    display: flex;
    text-align: center;
    font-family: var(--title);
    font-size: 25px;
    position: relative;
    top: -7.5rem;
    left: 12.5rem;
  }

  #salsa img {
    padding-left: 2rem;
    width: 30%;
    height: 35%;
    max-width: 150px;
    position: relative;
    top: -13rem;
  }

  #salsa p {
    display: flex;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -19.75rem;
    left: 11.5rem;
    width: 80%;
  }

  #salsa p b {
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -0.75rem;
    font-weight: bold;
  }

  #salsa svg {
    position: relative;
    margin-left: .5rem;
    top: -20rem;
    left: 11.75rem;
    width: 7%;
    height: 7%;
  }

  #guac h3 {
    display: flex;
    text-align: center;
    font-family: var(--title);
    font-size: 25px;
    position: relative;
    top: -20.5rem;
    right: -12.45rem;
  }

  #guac img {
    padding-left: 2rem;
    width: 30%;
    height: 35%;
    max-width: 150px;
    position: relative;
    top: -26rem;
  }

  #guac p {
    display: flex;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -32.75rem;
    left: 11.5rem;
  }

  #guac p b {
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -.70rem;
    font-weight: bold;
  }

  #guac svg {
    position: relative;
    margin-left: .5rem;
    top: -32.85rem;
    left: 11.60rem;
    width: 7%;
    height: 7%;
  }

  #tortillas h3 {
    display: flex;
    text-align: center;
    font-family: var(--title);
    font-size: 25px;
    position: relative;
    top: -33.05rem;
    right: -12.5rem;
  }

  #tortillas img {
    padding-left: 2rem;
    width: 30%;
    height: 35%;
    max-width: 150px;
    position: relative;
    top: -38.5rem;
  }

  #tortillas p {
    display: flex;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -45.35rem;
    left: 11.50rem;
  }

  #tortillas p b {
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    top: -0.75rem;
    font-weight: bold;
  }

  #tortillas svg {
    position: relative;
    margin-left: .5rem;
    top: -45.5rem;
    left: 11.55rem;
    width: 7%;
    height: 7%;
  }

  footer {
    background: white;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
  }

  footer #social {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: .50rem;
  }

  footer #social div a {
    text-decoration: none;
    color: var(--orange);
    font-family: var(--title);
    text-transform: uppercase;
    font-size: 16px;
    position: relative; 
    top: 1rem;
    right: 2rem;
  }

  .text {
    position: relative;
    text-align: center;
    right: -3.6rem;
    top: 1.51rem;
  }

  footer #social div img svg {
    position: absolute; 
    width: 2rem;
    height: 2rem;
    top: -3rem;
    right: -1.5rem;
  }

  footer #social #tik-tok {
    position: relative;
    right: -3.75rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-right: .5rem;
  }

  #good-eats img {
    display: block;
    width: 73%;
    height: 73%;
    margin: .50rem auto 2rem;
  }

  #good-eats p {
    display: flex;
    text-align: center;
    position: absolute;
    top: 107%;
    left: 40%;
    bottom: 0;
    font-family: var(--title);
    font-size: 20px;
  }

  main {
    flex: 1;
  }
}

/* Media Query - Medium screen */
@media screen and (min-width: 768px) {

  #main-nav {
    padding: 1.5rem 40rem 0 0;
    margin: 1rem 0;
    background: white;
    border-bottom: 3px solid #e3dede;
    width: 100%;
  }

  #menu-icon, #menu-text {
    display: none;
  }

  #home svg {
    left: 0;
    padding: .5rem 0rem;
    border-bottom: none;
    height: 30%;
    width: 8%;
    margin-left: 0;
  }

  .dropdown {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr repeat(7, 1fr);
    background: none;
    gap: .25rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .dropdown li a {
    margin-left: 3.5vw;
    margin-right: -6vw;
    margin-top: 8vh;
    padding: 0;
    text-align: center;
    position: relative;
    max-width: 500px;
    min-width: 100px;
  }

  .dropdown li img {
    display: block;
    position: absolute;
    bottom: 65%;
    margin-left: 0;
    top: -4rem;
    width: 100%;
    height: 55%;
    padding: 0 1.5rem;
    max-width: 65px;
  }

  #menu:hover .dropdown {
    pointer-events: none !important;
    display: flex;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr repeat(7, 1fr);
    background: none;
    gap: .25rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  #sign-sec {
    float: right;
  }

  #sign-icon svg {
    left: 47vw;
    padding: 0;
    top: 0;
    width: 50%;
    max-width: 1200px;
    min-width: 500px;
    margin-top: -.65rem;
    margin-right: 77.5vw;
    background: none;
    border-bottom: none;
  }

  #sign-text a { 
    left: 79.5%;
    top: 2rem;
    transform: translateX(-50%);
    z-index: auto;
    max-width: 1200px;
    min-width: 850px;
    width: 50%;
  }
  
  nav span input {
    margin-left: 13%;
    top: -7.8rem;
    left: 9rem;
    width: 100%;
    padding-right: 0;
    max-width: 49%;
    min-width: 49%;
  }

  nav span svg {
    left: 54%;
    transform: translateX(-261%) translateY(-196%);
  }

  header h1 {
    text-align: left;
    z-index: 22;
    padding-bottom: 1.15rem;
    padding-top: 1.1rem;
    margin-top: 5.60rem;
    padding-left: 1rem;
  }

  header nav {
    z-index: 99;
    position: absolute;
    margin-left: 26vw;
    top: -1rem;
  }

  #taco-img {
    height: 270%;
    width: 100%;
    position: relative;
    max-height: 1500px;
    padding-top: 11rem;
    overflow: hidden; 
  }

  #taco-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #taco-img::before {
    content: "";
    position: absolute;
    top: 15rem;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .15rem;
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    padding-left: 3rem;
  }

  dt {
    white-space: nowrap;
  }
  
  dd {
    margin: 0;
    padding: 0.15rem;

  }

  #ingredient-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  #directions ol li {
    line-height: 2.5rem;
  }

  #side-dishes {
    margin-top: 0rem;
    border: none;
    padding-bottom: 2rem;
  }

  #sides-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    right: 2rem;
    height: 100%;
  }

  #side-dishes h2 {
    padding-bottom: 0rem;
  }

  #rice img {
    height: 33%;
    width: 130px;
  }

  #rice h3 {
    left: 11rem;
  }

  #rice p {
    left: 11rem;
    top: -5rem;
  }

  #rice p b {
    top: 0;
  }

  #rice svg {
    width: 20px;
    height: 6%;
    left: 14.5rem;
    top: -7.35rem;
  }
  
  #salsa {
    position: absolute;
    top: 14.4rem;
    right: 6rem;
  }

  #salsa img {
    width: 46%;
    height: 33%;
  }

  #salsa h3 {
    left: 10.5rem;
  }

  #salsa p {
    left: 9.5rem;
    top: -19.5rem;
    text-align: left;
  }

  #salsa svg {
    width: 8%;
    height: 7%;
    top: -21.65rem;
    left: 14rem;
  }

  #guac h3 {
    left: -14rem;
    top: 17rem;
    width: 100%;
  }

  #guac img {
    float: left;
    width: 133px;
    height: 36%;
    top: 11.5rem;
    left: -25.30rem;
    max-width: 133px;
  }

  #guac p {
    top: 6.75rem;
    left: -15rem;
    width: 100%;
  }

  #guac p b {
    top: 0.5rem;
    left: 0rem;
  }


  #guac svg {
    width: 6%;
    height: 6%;
    top: 5.90rem;
    left: -10.5rem;
  }

  #tortillas {
    position: absolute;
    top: 50.5rem;
    right: 7.9rem;
  }

  #tortillas h3 {
    left: 10.5rem;
  }

  #tortillas img {
    width: 53%;
    height: 33%;
  }

  #tortillas p {
    top: -44.85rem;
    left: 9.5rem;
  }

  #tortillas p b {
    top: 0.75rem;
    left: 0rem;
  }

  #tortillas svg {
    width: 9%;
    height: 7%;
    top: -45.45rem;
    left: 14rem;
  }

  #social {
    margin-left: 18rem;
    margin-top: 2rem;
    margin-right: -4rem;
  }

  #good-eats {
    position: absolute;
    width: 55%;
    height: 490px;
    margin-left: 26px;
    bottom: -27rem;
    left: -3rem;
  }

  #good-eats p {
    position: absolute;
    top: 26.5rem;
  }

}

/* Media Query - Large screen */
@media screen and (min-width: 1200px) {

#home svg {
  height: 93%;
  width: 100%;
  margin-top: .5rem;
}

#sign-icon svg {
  left: 58vw;
  margin-right: 0;
  padding-right: 0;
  top: 1rem;
  margin: 0 auto;
}

#sign-text a {
  left: 79%;
  top: 3.85rem;
  margin: 0 auto;
}

.dropdown {
  margin-top: 18px;
  left: 12%;
  top: -5%;
}

.dropdown li a {
  margin-right: -3rem;
  right: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.dropdown li img {
  height: 43%;
  top: -4.5rem;
}

#menu:hover .dropdown {
  pointer-events: none !important;
  display: flex;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(7, 1fr);
  background: none;
  margin-top: 18px;
  left: 12%;
  top: -5%;
}

#main-nav {
  position: absolute;
  top: -15px;
  height: 15%;
  background: white;
}

#main-nav span input {
  top: 0.5rem;
  min-width: 50%;
}

#main-nav span svg {
  top: 14.35rem;
  left: 56%;;
}

body {
  background: var(--white);
  margin-top: none;
}

header h1 {
  padding-bottom: 2rem;
  padding-left: 1rem;
  background: none;
  text-align: center;
}

#taco-img {
  width: 40.5%;
  height: 49rem;
  margin-left: 7rem;
  padding-top: 12.5rem;
}

#taco-img::before {
  display: none;
}

header nav {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  left: -19.5rem;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 23.63rem;
  margin-bottom: 2rem;
  border: 3px solid var(--orange);
  top: 11.20rem;
  width: 3.25%;
  position: absolute;
  margin-left: 19.5rem;
}

.img a svg {
  position: absolute;
  margin-left: 1.9rem;
  top: -19rem;
  transform: translateX(-5%);
}

#print {
  position: absolute;
  margin-left: 3.15rem;
  top: 3rem;
  transform: translateX(-5%);
}

#jump-to {
  position: absolute;
  margin-left: 3.15rem;
  top: 7.25rem;
  transform: translateX(-5%);
}

.text-top a {
  margin: 0;
  padding: 0;
  right: 75%;
  top: 3.5rem;
  height: 2.5rem;
}

#main-p {
  margin-left: 42.5rem;
  position: absolute;
  top: 16.25rem;
}

#main-p p {
  line-height: 2rem;
}

#details h2 {
  background: var(--black);
  color: var(--teal);
  padding-top: 1rem;
}

dl {
  background: var(--black);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: .5rem 5rem;
  padding: 0 27rem 0 22.05rem;
  max-width: 100%;
  color: var(--teal);
  margin: 0 auto;
  justify-content: center;
}

dt, dd {
  text-align: center;
  margin-bottom: 0;
  margin-left: 5px;
}

dt {
  padding-bottom: 0rem;
}

dd {
  padding: 0 0.5rem 1rem;
  width: 100%;
  margin-right: 3rem;
}

dl > dt {
  grid-row: 1;
}

dl> dd {
  grid-row: 2;
}

#side-dishes {
  max-width: 1500px;
}

#sides-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-rows: 1fr;
  padding-right: 0;
}

#rice {
  margin-left: 2rem;
  position: initial;
  padding: 0;
  margin-right: 0;
}

#rice h3 {
  top: 25rem;
  left: 2rem;
}

#rice img {
  width: 98%;
  height: 52%;
  max-width: 270px;
}

#rice p {
  top: 5rem;
  left: 2rem;
  margin-right: 2rem;
  text-align: left;
}

#rice p b {
  top: -.75rem;
}

#rice svg {
  top: 1.55rem;
  left: 6rem;
}

#guac {
  position: absolute;
  left: 45rem;
  margin-left: 0;
  padding: 0;
}

#guac h3 {
  top: 24.5rem;
  left: -3.25rem;
}

#guac img {
  width: 77%;
  height: 49%;
  max-width: 253px;
  margin-left: 20rem;
  top: 1.5rem;
}

#guac p {
  top: 6.65rem;
  left: -4rem;
}

#guac svg {
  top: 5.75rem;
  left: 1rem;
  width: 4.5%;
  height: 7%;
}

#salsa {
  position: initial;
  left: 45rem;
  margin-left: 0;
  padding: 0;
}

#salsa h3 {
  top: 25rem;
  left: 4rem;
}

#salsa img {
  width: 85%;
  height: 52%;
  max-width: 266px;
  margin-left: 2rem;
  top: 1.5rem;
}

#salsa p {
  top: 5.25rem;
  left: 3rem;
}

#salsa svg {
  top: 2.65rem;
  left: 8rem;
  width: 7%;
  height: 7%;
}

#tortillas {
  position: absolute;
  left: 45rem;
  margin-left: 0;
  padding: 0;
}

#tortillas h3 {
  top: -25.95rem;
  left: 15.15rem;
}

#tortillas img {
  width: 77%;
  height: 49%;
  max-width: 253px;
  margin-left: 13rem;
  top: -49rem;
}

#tortillas p {
  top: -45.25rem;
  left: 14.25rem;
}

#tortillas svg {
  top: -45.85rem;
  left: 19rem;
  width: 5.85%;
  height: 7%;
}

footer {
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer #social {
  gap: 3rem;
}

.img-bottom a svg {
  position: absolute;
  left: 13.5rem;
  top: -3rem;
  margin: 0 3.75rem;
}

.text {
  margin: 0 -8rem;
  left: 15rem;
}

footer #social #tik-tok {
  right: 93.5%;
  left: 53%;
}

.img-tik-tok {
  position: absolute;
  left: 93.5%;
  top: 35%;
}

#good-eats {
  background: white;
  padding-right: 42rem;
}

#good-eats img {
  position: absolute;
  top: -4rem;
  width: 33%;
  margin-left: 4rem;
}

#good-eats p {
  left: 30rem;
  top: -2.35rem;
}

}

